<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Access denied page</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h2>Access denied page</h2>
<h3 style="color:#ff0000"> You are not authorized to access this resource</h3>
<hr>
<div class="button-container">
    <a th:href="@{/home}">Back to home page</a>
</div>
<br><br>
<div class="button-container">
    <a th:href="@{/index}">Back to login page</a>
</div>
</body>
</html>