<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Account Details Page</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>Account Details</h1>
<table th:if="${account}">
    <tr>
        <td>Account Id:</td>
        <td th:text="${account.getAccountId}"></td>
    </tr>
    <tr>
        <td>Account Number:</td>
        <td th:text="${account.accountNumber}"></td>
    </tr>
    <tr>
        <td>Balance:</td>
        <td th:text="${account.balance}"></td>
    </tr>
    <tr>
        <td>Currency:</td>
        <td th:text="${account.currency}"></td>
    </tr>
    <tr>
        <td>Account Type:</td>
        <td th:text="${account.accountType}"></td>
    </tr>
    <tr>
        <td>Account Status:</td>
        <td th:text="${account.accountStatus}"></td>
    </tr>
    <tr>
        <td>Open Date:</td>
        <td th:text="${account.openDate}"></td>
    </tr>
    <tr>
        <td>User Id:</td>
        <td th:text="${account.customerId}"></td>
    </tr>
</table>
<hr>
<button type="button" onclick="history.go(-1)" class="go-button"> Go to previous page</button>
<br><br>
<a th:href="@{/index}">
    <button type="button" class="update-button">Return to index page</button>
</a>
</body>
</html>