<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Account Update Page</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>Account Details</h1>
<form method="post" action="/api/accounts/account" th:object="${account}" th:action="@{/api/accounts/account}">
    <table>
        <tbody>
        <input type="hidden" id="accountId" name="accountId" th:field="*{accountId}"/>
        <tr>
            <td><label>Account Number:</label></td>
            <td>
                <input type="text" id="accountNumber" name="accountNumber" th:field="*{accountNumber}"
                       class="form-control" placeholder="1, 2, 3, etc" disabled="disabled">
            </td>
            <td>
                <span th:if="${#fields.hasErrors('accountNumber')}" class="error" th:errors="*{accountNumber}">
                    Account Number is invalid
                </span>
            </td>
        </tr>
        <tr>
            <td><label>Balance:</label></td>
            <td>
                <input type="text" id="balance" name="balance" th:field="*{balance}" class="form-control"
                       placeholder="0"/>
            </td>
            <td>
                <span th:if="${#fields.hasErrors('balance')}" class="error" th:errors="*{balance}">
                    Balance is invalid
                </span>
            </td>
        </tr>
        <tr>
            <td><label>Currency:</label></td>
            <td>
                <select id="currency" name="currency" th:field="*{currency}" class="form-control">
                    <option th:each="currency : ${T(com.bank.webservice.util.Currency).values()}"
                            th:value="${currency}" th:text="${currency}">Currency
                    </option>
                </select>
            </td>
            <td>
                <span th:if="${#fields.hasErrors('currency')}" class="error" th:errors="*{currency}">
                    Currency is invalid
                </span>
            </td>
        </tr>
        <tr>
            <td><label>Account Type:</label></td>
            <td>
                <select id="accountType" name="accountType" th:field="*{accountType}" class="form-control">
                    <option th:each="type : ${T(com.bank.webservice.util.AccountType).values()}"
                            th:value="${type}" th:text="${type}">Account Type
                    </option>
                </select>
            </td>
            <td>
                <span th:if="${#fields.hasErrors('accountType')}" class="error" th:errors="*{accountType}">
                    Account Type is invalid
                </span>
            </td>
        </tr>
        <tr>
            <td><label>Account Status:</label></td>
            <td>
                <select id="accountStatus" name="accountStatus" th:field="*{accountStatus}" class="form-control">
                    <option th:each="status : ${T(com.bank.webservice.util.AccountStatus).values()}"
                            th:value="${status}" th:text="${status}">Account Status
                    </option>
                </select>
            </td>
            <td>
                <span th:if="${#fields.hasErrors('accountStatus')}" class="error" th:errors="*{accountStatus}">
                    Account Status is invalid
                </span>
            </td>
        </tr>
        <tr>
            <td><label>Open Date:</label></td>
            <td>
                <input type="text" id="openDate" name="openDate" th:field="*{openDate}" class="form-control"
                       placeholder="dd-MM-yyyy" disabled="disabled"/>
            </td>
            <td>
                <span th:if="${#fields.hasErrors('openDate')}" class="error" th:errors="*{openDate}">
                    Open Date is invalid
                </span>
            </td>
        </tr>
        <tr>
            <td><label>User ID:</label></td>
            <td>
                <input type="text" id="userId" name="userId" th:field="*{customerId}" class="form-control"
                       placeholder="1, 2, 3, etc" disabled="disabled">
            </td>
            <td>
                <span th:if="${#fields.hasErrors('customerId')}" class="error" th:errors="*{customerId}">
                    User ID is invalid
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <input type="submit" value="Save Account" class="save"/>
</form>
<br>
- Account number, open date and customer id cannot be changed. <br>
- Balance can be changes automatically by creating / updating / deleting transactions. <br>
<br>
<hr>
<button type="button" onclick="history.go(-1)" class="go-button"> Go to previous page</button>
<br><br>
<a th:href="@{/index}">
    <button type="button" class="update-button">Return to index page</button>
</a>
</body>
</html>