<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All Transactions Page</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <script th:src="@{/blockedTransactions.js}"></script>
</head>
<body>
<h1>All Transactions</h1>
<a th:href="@{/api/transactions/new-transaction}">
    <button>Create new transaction</button>
</a>
<br><br>
<table>
    <thead>
    <tr>
        <th>Transaction ID</th>
        <th>Amount</th>
        <th>Transaction Type</th>
        <th>Account Source Number</th>
        <th>Account Destination Number</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transactions}" th:data-status="${transaction.transactionStatus}">
        <td th:text="${transaction.transactionId}"></td>
        <td th:text="${transaction.amount}"></td>
        <td th:text="${transaction.transactionStatus}"></td>
        <td th:text="${transaction.accountSourceNumber}"></td>
        <td th:text="${transaction.accountDestinationNumber}"></td>
        <td>
            <div class="button-container">
                <form action="#"
                      th:action="@{/api/transactions/{transactionId}(transactionId=${transaction.transactionId})}"
                      th:method="get">
                    <button type="submit">Details</button>
                </form>
                <form action="#"
                      th:action="@{/api/transactions/{transactionId}(transactionId=${transaction.transactionId})}"
                      th:method="put">
                    <button type="submit" class="update-button">Update</button>
                </form>
                <form action="#"
                      th:action="@{/api/transactions/{transactionId}(transactionId=${transaction.transactionId})}"
                      th:method="delete"
                      onclick="if(!(confirm('Are you sure to delete this transaction?'))) return false">
                    <button type="submit" class="delete-button">Delete</button>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<br>
- Deleting a transaction refunds all money to the linked accounts <br>
- Frozen / Suspended transactions can't be updated or deleted <br>
<br>
<hr>
<button type="button" onclick="history.go(-1)" class="go-button"> Go to previous page</button>
<br><br>
<a th:href="@{/index}">
    <button type="button" class="return-button">Return to index page</button>
</a>
</body>
</html>