<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All Accounts Page</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>All Accounts</h1>
<a th:href="@{/api/accounts/new-account}">
    <button>Create new account</button>
</a>
<br><br>
<table>
    <thead>
    <tr>
        <th>Account ID</th>
        <th>Account Number</th>
        <th>Balance</th>
        <th>Currency</th>
        <th>Customer ID</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account : ${accounts}">
        <td th:text="${account.getAccountId}"></td>
        <td th:text="${account.accountNumber}"></td>
        <td th:text="${account.balance}"></td>
        <td th:text="${account.currency}"></td>
        <td th:text="${account.customerId}"></td>
        <td>
            <div class="button-container">
                <form action="#" th:action="@{/api/accounts/{accountId}(accountId=${account.accountId})}"
                      th:method="get">
                    <button type="submit">Show</button>
                </form>
                <form action="#" th:action="@{/api/accounts/{accountId}(accountId=${account.accountId})}"
                      th:method="put">
                    <button type="submit">Update</button>
                </form>
                <form action="#" th:action="@{/api/accounts/{accountId}(accountId=${account.accountId})}"
                      th:method="delete" onclick="if(!(confirm('Are you sure to delete this account?'))) return false">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<a th:href="@{/index}">
    <button type="button" class="update-button">Return to index page</button>
</a>
</body>
</html>