<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>An error occurred</h1>
<p th:text="${errorMessage}" class="error"></p>
<p> We are unable to process your request at this time.<br>
    Please try again later.
</p>
<hr>
<div class="button-container">
    <a th:href="@{/index}">
        <button type="button" class="update-button">Return to index page</button>
    </a>
</div>
</body>
</html>