<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<noscript>
    <div class="warning">
        **Warning:** This application requires JavaScript to function properly.
        Please enable JavaScript in your browser settings to continue.
    </div>
</noscript>
<h1>Welcome to main page</h1>
<br>
<div class="button-container">
    <a th:href="@{/api/accounts/all-accounts}">
        <button>Show all accounts</button>
    </a>
</div>
<br><br>
<div class="button-container">
    <a th:href="@{/api/transactions/all-transactions}">
        <button>Show all transactions</button>
    </a>
</div>
<br><br>
<div class="button-container">
    <a th:href="@{/api/customers/all-customers}">
        <button>Show all customers</button>
    </a>
</div>
<br><br><br>
<div class="button-container">
    <a th:href="@{/swagger-ui/index.html}">
        <button>Show Swagger docs</button>
    </a>
</div>
<br><br><br><br>
<div class="button-container">
    <a th:href="@{/index}">
        <button type="submit" class="btn btn-primary">Back to login page</button>
    </a>
</div>
</body>
</html>