<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>
<h1>Welcome</h1>
<br>
<a th:href="@{/api/accounts/all-accounts}"><button>Show all accounts (Delete and Update)</button></a>
<br><br>
<!-- for account-details button on account list" -->
<!--<a th:href="@{/api/accounts/account-details}"><button>Show account details by id</button></a>-->
<a th:href="@{/account-details}"><button>Show account details by id</button></a>
<br><br>
<a th:href="@{/api/accounts/new-account}"><button>Create new account</button></a>
</body>
</html>