<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Account Details Page</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<noscript>
    <div class="warning">
        **Warning:** This application requires JavaScript to function properly.
        Please enable JavaScript in your browser settings to continue.
    </div>
</noscript>
<h1>Account Details</h1>
<table th:if="${account}">
    <tr>
        <td>Account Id:</td>
        <td th:text="${account.getAccountId}"></td>
    </tr>
    <tr>
        <td>Account Number:</td>
        <td th:text="${account.accountNumber}"></td>
    </tr>
    <tr>
        <td>Balance:</td>
        <td th:text="${account.balance}"></td>
    </tr>
    <tr>
        <td>Currency:</td>
        <td th:text="${account.currency}"></td>
    </tr>
    <tr>
        <td>Account Type:</td>
        <td th:text="${account.accountType}"></td>
    </tr>
    <tr>
        <td>Account Status:</td>
        <td th:text="${account.accountStatus}"></td>
    </tr>
    <tr>
        <td>Open Date:</td>
        <td id="openDate" th:text="${account.openDate}"></td>
    </tr>
    <tr>
        <td>Customer Number:</td>
        <td th:text="${account.customerNumber}"></td>
    </tr>
</table>
<hr>
<div class="button-container">
    <button type="button" onclick="history.go(-1)" class="go-button"> Go to previous page</button>
</div>
<br><br>
<div class="button-container">
    <a th:href="@{/home}">
        <button type="button" class="update-button">Return to main page</button>
    </a>
</div>
</body>
</html>