<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All Transactions Page</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <script th:src="@{/javascripts/blockedTransactions.js}"></script>
    <script th:src="@{/javascripts/signAmount.js}"></script>
</head>
<body>
<noscript>
    <div class="warning">
        **Warning:** This application requires JavaScript to function properly.
        Please enable JavaScript in your browser settings to continue.
    </div>
</noscript>
<h1>All Transactions</h1>
<a th:if="${role == 'ROLE_ADMIN'}" th:href="@{/api/transactions/new-transaction}">
    <div class="button-container">
        <button>Create new transaction</button>
    </div>
    <br><br>
</a>
<table>
    <thead>
    <tr>
        <th>Transaction ID</th>
        <th>Amount</th>
        <th>Transaction Status</th>
        <th>Account Source Number</th>
        <th>Account Destination Number</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transactions}" th:data-status="${transaction.transactionStatus}"
        th:data-transaction-type="${transaction.transactionType}">
        <td th:text="${transaction.transactionId}"></td>
        <td th:text="${transaction.amount}"></td>
        <td th:text="${transaction.transactionStatus}"></td>
        <td th:text="${transaction.accountSourceNumber}"></td>
        <td th:text="${transaction.accountDestinationNumber}"></td>
        <td>
            <div class="button-container">
                <form action="#"
                      th:action="@{/api/transactions/{transactionId}(transactionId=${transaction.transactionId})}"
                      th:method="get">
                    <button type="submit">Details</button>
                </form>
                <form th:if="${role == 'ROLE_ADMIN'}" action="#"
                      th:action="@{/api/transactions/{transactionId}(transactionId=${transaction.transactionId})}"
                      th:method="put">
                    <button type="submit" class="update-button">Update</button>
                </form>
                <form th:if="${role == 'ROLE_ADMIN'}" action="#"
                      th:action="@{/api/transactions/{transactionId}(transactionId=${transaction.transactionId})}"
                      th:method="delete"
                      onclick="if(!(confirm('Are you sure to delete this transaction?'))) return false">
                    <div class="button-container">
                        <button type="submit">Delete</button>
                    </div>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<br>
- Deleting a transaction refunds all money to the linked accounts <br>
- Frozen / Suspended transactions can't be updated or deleted <br>
<br>
<hr>
<div class="button-container">
    <button type="button" onclick="history.go(-1)" class="go-button"> Go to previous page</button>
</div>
<br><br>
<div class="button-container">
    <a th:href="@{/home}">
        <button type="button" class="update-button">Return to main page</button>
    </a>
</div>
</body>
</html>