<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Transaction Details Page</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<noscript>
    <div class="warning">
        **Warning:** This application requires JavaScript to function properly.
        Please enable JavaScript in your browser settings to continue.
    </div>
</noscript>
<h1>Transaction Details</h1>
<table th:if="${transaction}">
    <tr>
        <td>Transaction Id:</td>
        <td th:text="${transaction.getTransactionId}"></td>
    </tr>
    <tr>
        <td>Amount:</td>
        <td th:text="${transaction.amount}"></td>
    </tr>
    <tr>
        <td>Transaction Time:</td>
        <td id="transactionTime" th:text="${transaction.transactionTime}"></td>
    </tr>
    <tr>
        <td>Transaction Type:</td>
        <td th:text="${transaction.transactionType}"></td>
    </tr>
    <tr>
        <td>Transaction Status:</td>
        <td th:text="${transaction.transactionStatus}"></td>
    </tr>
    <tr>
        <td>Account Source Number:</td>
        <td th:text="${transaction.accountSourceNumber}"></td>
    </tr>
    <tr>
        <td>Account Destination Number:</td>
        <td th:text="${transaction.accountDestinationNumber}"></td>
    </tr>
</table>
<br>
- Zero account number indicates a deleted account. Their numbers are available for new accounts <br>
<br>
<hr>
<button type="button" onclick="history.go(-1)" class="go-button"> Go to previous page</button>
<br><br>
<a th:href="@{/index}">
    <button type="button" class="update-button">Return to index page</button>
</a>
</body>
</html>