<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All Customers Page</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <script th:src="@{/javascripts/zeroAccounts.js}"></script>
</head>
<body>
<noscript>
    <div class="warning">
        **Warning:** This application requires JavaScript to function properly.
        Please enable JavaScript in your browser settings to continue.
    </div>
</noscript>
<h1>All Customers</h1>
<a th:if="${role == 'ROLE_ADMIN'}" th:href="@{/api/customers/new-customer}">
    <button>Create new customer</button>
    <br><br>
</a>
<table>
    <thead>
    <tr>
        <th>Customer ID</th>
        <th>Customer Number</th>
        <th>Name</th>
        <th>Accounts</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.customerId}"></td>
        <td th:text="${customer.customerNumber}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.accountNumbers}"></td>
        <td>
            <div class="button-container">
                <form action="#" th:action="@{/api/customers/{customerId}(customerId=${customer.customerId})}"
                      th:method="get">
                    <button type="submit">Details</button>
                </form>
                <form action="#"
                      th:action="@{/api/accounts/all-accounts/{customerNumber}(customerNumber=
                      ${customer.customerNumber})}"
                      th:method="get">
                    <button type="submit">Accounts</button>
                </form>
                <form th:if="${role == 'ROLE_ADMIN'}" action="#"
                      th:action="@{/api/customers/{customerId}(customerId=${customer.customerId})}"
                      th:method="put">
                    <button type="submit">Update</button>
                </form>
                <form th:if="${role == 'ROLE_ADMIN'}" action="#"
                      th:action="@{/api/customers/{customerId}(customerId=${customer.customerId})}"
                      th:method="delete"
                      onclick="if(!(confirm('Are you sure to delete this customer?'))) return false">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<br>
- Deleting a customer sets the linked account status to inactive. <br>
- Other customer CRUD operations change the linked account data respectively. <br>
<br>
<button type="button" onclick="history.go(-1)" class="go-button"> Go to previous page</button>
<br><br>
<a th:href="@{/home}">
    <button type="button" class="update-button">Return to main page</button>
</a>
</body>
</html>