<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Customer Update Page</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<noscript>
    <div class="warning">
        **Warning:** This application requires JavaScript to function properly.
        Please enable JavaScript in your browser settings to continue.
    </div>
</noscript>
<h1>Customer Details</h1>
<form method="post" action="/api/customers/customer" th:object="${customer}" th:action="@{/api/customers/customer}">
    <table>
        <tbody>
        <input type="hidden" id="customerId" name="customerId" th:field="*{customerId}"/>
        <tr>
            <td><label>Customer Number:</label></td>
            <td>
                <input type="text" id="customerNumber" name="customerNumber" th:field="*{customerNumber}"
                       class="form-control readonly-field" placeholder="1, 2, 3, etc" readonly="readonly">
            </td>
            <td>
                <span th:if="${#fields.hasErrors('customerNumber')}" class="error" th:errors="*{customerNumber}">
                    Customer Number is invalid
                </span>
            </td>
        </tr>
        <tr>
            <td><label>Customer Name:</label></td>
            <td>
                <input type="text" id="name" name="name" th:field="*{name}" class="form-control"
                       placeholder="John Doe">
            </td>
            <td>
                <span th:if="${#fields.hasErrors('name')}" class="error" th:errors="*{name}">
                    Customer Name is invalid
                </span>
            </td>
        </tr>
        <tr>
            <td><label>Email:</label></td>
            <td>
                <input id="email" name="email" th:field="*{email}" class="form-control"
                       placeholder="jda@bank.com">
            </td>
            <td>
                <span th:if="${#fields.hasErrors('email')}" class="error" th:errors="*{email}">
                   Email is invalid
                </span>
            </td>
        </tr>
        <tr>
            <td><label>Phone:</label></td>
            <td>
                <input id="phone" name="phone" th:field="*{phone}" class="form-control"
                       placeholder="+7111222334455">
            </td>
            <td>
                <span th:if="${#fields.hasErrors('phone')}" class="error" th:errors="*{phone}">
                   Phone is invalid
                </span>
            </td>
        </tr>
        <tr>
            <td><label>Address:</label></td>
            <td>
                <input type="text" id="address" name="address" th:field="*{address}" class="form-control"
                       placeholder="10 Main st., Boston, USA">
            </td>
            <td>
                <span th:if="${#fields.hasErrors('address')}" class="error" th:errors="*{address}">
                    Address is invalid
                </span>
            </td>
        </tr>
        <tr>
            <td><label>Account Numbers:</label></td>
            <td>
                <input type="text" id="accountNumbers" name="accountNumbers" th:field="*{accountNumbers}"
                       class="form-control" placeholder="1, 2, 3, etc">
            </td>
            <td>
                 <span th:if="${#fields.hasErrors('accountNumbers')}" class="error" th:errors="*{accountNumbers}">
                   Account Numbers are invalid
                 </span>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <div class="button-container">
        <button type="submit" class="save">Save Customer</button>
    </div>
</form>
<!--<br>-->
<!-- - customer number, open date and customer id cannot be changed. <br>-->
<!-- - balance can be changed automatically by creating / updating / deleting transactions. <br>-->
<!--<br>-->
<hr>
<div class="button-container">
    <button type="button" onclick="history.go(-1)" class="go-button"> Go to previous page</button>
</div>
<br><br>
<div class="button-container">
    <a th:href="@{/home}">
        <button type="button" class="update-button">Return to main page</button>
    </a>
</div>
</body>
</html>