.button-container {
    display: flex; /* Flexbox for horizontal arrangement */
    justify-content: space-between; /* Distribute buttons evenly */
}

.button-container button {
    margin: 0 5px; /* Add some spacing between buttons */
}

table {
    border: 1px solid #ddd; /* Solid border, 1px wide, light gray color */
    border-collapse: collapse; /* Ensures borders between cells collapse */
}

th, td {
    border: 1px solid #ddd; /* Add borders to table headers and cells */
    padding: 5px; /* Add some padding for better readability */
}

.error {
    color: red;
}

.suspended-transaction {
    background-color: lightgray;
}

.frozen-transaction {
    background-color: gray;
}

.frozen-account {
    background-color: lightgray;
}

.readonly-field {
    background-color: #e9ecef;
    opacity: 0.6;
    cursor: not-allowed;
}

.warning {
    background-color: #ffffe0;
    border: 1px solid #f00;
    padding: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}